.home-container {
  position: relative;
  background-image: url("@/assets/home/home_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(100vh - 84px);
  width: 100%;
  overflow-y: auto;

  .top-info-container {
    position: relative;

    .top-title {
      position: absolute;
      width: 26%;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      z-index: 11;
    }

    .top-bg {
      width: 100%;
      margin-top: -10px;
    }
  }

  .home-search-container {
    padding: 8px 23px 0;
    display: flex;
    align-items: center;

    .img-aborn {
      width: 59px;
      margin-right: 12px;
    }

    :deep(.el-form) {
      .el-form-item {
        margin-bottom: 0px;
        margin-right: 7px;

        .el-form-item__label {
          color: #c9eaff;
          font-size: 15px;
          padding-right: 8px;
        }

        .el-select {
          width: 245px;

          .el-select__wrapper {
            background-color: #0e2f46;
            border-radius: 5px;
            border: 1px solid #244961;
            box-shadow: none;

            &:hover {
              border-color: #00daee;
            }

            .el-select__selected-item {
              color: #fff;
            }

            .el-select__suffix {
              .el-icon {
                color: #00daee;
              }
            }
          }
        }

        .btn {
          position: relative;
          width: 113px;
          height: 33px;
          margin-right: 9px;
          color: #fff;
          cursor: pointer;

          .btn-img {
            width: 100%;
            height: 100%;
          }

          .btn-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            z-index: 111;
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: #00daee !important;
          }
        }
      }
    }
  }

  .home-card-container {
    padding: 23px 23px 19px;

    .card-item-warpper {
      position: relative;
      width: 310px;
      min-height: 153px;
      box-sizing: border-box;
      padding-left: 30px;
      margin-right: 25px;
      display: inline-flex;
      align-items: center;

      .card-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 8;
      }

      &:last-child {
        margin-right: 0;
      }

      .card-img {
        z-index: 10;
        width: 140px;
        height: 140px;
        margin-right: 16px;
      }

      .card-text-wrapper {
        flex: 1;
        z-index: 10;

        .card-title {
          color: #c9eaff;
          font-size: 18px;
          margin-bottom: 7px;
        }

        .card-desc {
          span:first-child {
            background: linear-gradient(90deg, #eaffff 0%, #5affff 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 40px;
            font-weight: 600;
          }

          span:last-child {
            font-size: 15px;
            color: #C9EAFF;
            margin-left: 3px;
          }
        }

        .card-right-wrapper {
          display: flex;
          flex-direction: column;

          span {
            color: #C9EAFF;
            font-size: 12px;
            margin-bottom: 2px;

            &:nth-child(even) {
              margin-right: 0 !important;
            }
          }
        }
      }
    }
  }

  .echarts-wrapper {
    padding: 0 23px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .echarts-item {
      position: relative;
      box-sizing: border-box;
      width: 32.3%;
      margin-right: 16px;
      margin-bottom: 20px;
      min-height: 300px;

      .echarts-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 8;
      }

      .title-wrapper {
        position: relative;
        top: 30px;
        height: 36px;
        
        .title-icon {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 8;
          width: 100%;
          height: 100%;
        }

        span {
          position: relative;
          font-size: 18px;
          color: #fff;
          z-index: 10;
          margin-left: 92px;
        }
      }

      .echart {
        position: relative;
        z-index: 10;
      }
    }
  }

}
